@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url("./Poppins-Medium.ttf");
}

@font-face {
  font-family: 'Poppins-BoldItalic';
  src: url("./Poppins-BoldItalic.ttf");
}

#a:hover ~ #b {
  display: block;
}

#emailEdit {
  background-color: #E9ECEF;
}